.split {
  position: relative !important;
  height: 80vh !important;
  display: flex !important;

  .screen-none {
    position: relative !important;
    flex-grow: 2 !important;
    display: flex !important;
  }

  .screen {
    position: relative !important;
    filter: blur(0);
    flex-grow: 2 !important;
    display: flex !important;
    overflow: hidden !important;
    transition: 0.5s !important;
    background-size: cover;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    justify-content: center;
    align-items: center;

    &-content {
      padding: 10px;
      background-color: $color-blue-light;
      color: $white;
      box-sizing: content-box;
      width: 50%;
      border-radius: 5px;
      text-align: center;
      opacity: 0;
      transform: translateY(50%);
      transition: background-color 1s, transform 1s, opacity .5s;

      fieldset {
          border-radius: 5px;
          border: 2px $white solid;
      }

      &-link {
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        border: 2px white solid;
        transition: .3s;

        &:hover {
          color: white;
          background-color: $color-blue-dark;
          border: 2px white solid;
        }
      }

    }

    &:hover {
      flex-grow: 5 !important;
      filter: brightness(100%) !important;

      .screen-content {
        transform: translateY(0);
        opacity: 100;

        &:hover {
          background: $color-blue-dark;
        }
      }
    }
  }

  &:hover {
    .screen {
      filter: blur(5px);
    }
  }
}

.carousel-control-prev {
  width: 7% !important;
}

.carousel-control-next {
  width: 7% !important;
}

.color-arrow {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background: rgba(0,0,0,0.7) !important;
  width: 80px !important;
  height: 80px !important;
  border-radius: 50% 50% 50% 50% !important;
  transition: 0.2s !important;

  &:hover {
    width: 60px !important;
    height: 60px !important;
  }
}
@media screen and (max-width:980px) {
  .split {
    flex-direction: column !important;
    height: 100vh !important;

    .screen {
      margin: 10px 0 !important;
      display: flex !important;
      transition: 1s !important;

      &-content {
        opacity: 100;
        transform: translateY(0);
      }

      &:hover {
        flex-grow: 3 !important;
        opacity: 1 !important;
      }
    }

    &:hover {
      .screen {
        opacity: 1 !important;
      }
    }
  }

  .color-arrow {
    width: 60px !important;
    height: 60px !important;
  }

  .carousel-control-prev {
    width: unset !important;
  }

  .carousel-control-next {
    width: unset !important;
  }
}
