<header class="masthead">
    <div class="pimg1">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Lucas BOGANIN</div>
                <div class="intro-heading text-uppercase">Developpeur junior symfony</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#projet">En savoir plus</a>
            </div>
        </div>
    </div>
</header>
<div class="loader">
    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
         width="1161.000000pt" height="1162.000000pt" viewBox="0 0 1161.000000 1162.000000"
         preserveAspectRatio="xMidYMid meet">

        <g fill="none"  transform="translate(0.000000,1162.000000) scale(0.100000,-0.100000)"
           >
            <path stroke="#fff" stroke-width="100"d="M7250 10149 c-1419 -10 -3751 -30 -4325 -38 l-470 -6 0 -1875 c0
-1031 6 -2298 13 -2815 20 -1472 43 -3695 41 -3859 -2 -136 -1 -150 17 -163
17 -13 189 -15 1384 -9 751 3 1808 10 2350 16 542 6 1413 14 1935 19 786 7
956 10 980 22 29 14 30 17 38 109 9 102 -8 2406 -23 3170 -9 469 -20 1371 -40
3355 -6 594 -15 1297 -19 1563 -7 444 -10 484 -26 502 -21 23 46 23 -1855 9z
m1440 -1031 c1 -392 5 -1046 10 -1453 5 -407 14 -1581 20 -2610 5 -1028 14
-2153 20 -2500 5 -346 10 -666 10 -711 l0 -81 -912 -7 c-2140 -16 -4769 -44
-4890 -52 l-86 -5 -6 73 c-3 40 -10 687 -16 1438 -29 3766 -46 5128 -78 6238
-4 129 -4 236 -1 238 4 2 9 21 13 43 l6 39 132 6 c73 3 815 11 1648 17 833 6
1940 17 2460 24 520 6 1108 12 1308 13 l362 2 0 -712z"/>
            <path stroke="#fff" stroke-width="100"d="M3520 6620 l0 -2570 659 -2 658 -3 -98 -175 c-345 -610 -467 -805
-603 -965 -38 -44 -38 -46 -21 -65 26 -28 39 -25 108 24 83 58 236 138 325
170 115 41 141 37 314 -45 254 -119 449 -175 758 -216 170 -23 626 -25 765 -5
273 41 491 110 729 229 592 297 968 879 882 1364 -24 132 -79 223 -195 322
-132 114 -269 171 -554 231 -87 19 -164 39 -170 46 -17 16 12 35 76 50 485
113 943 436 1127 795 112 221 138 466 69 667 -84 244 -319 392 -719 452 -284
43 -964 57 -1595 32 -469 -18 -684 -20 -804 -6 -71 8 -89 14 -113 37 l-30 28
-19 -23 c-34 -43 -50 -134 -29 -173 29 -54 149 -63 380 -29 380 57 559 80 698
90 164 11 192 6 192 -31 0 -24 -239 -518 -402 -832 -114 -221 -288 -544 -537
-999 l-146 -267 -487 -1 -488 0 0 2220 0 2220 -365 0 -365 0 0 -2570z m520
130 l0 -2220 530 -2 530 -3 -68 -125 -68 -125 -617 -3 -617 -2 0 2350 0 2350
155 0 155 0 0 -2220z m3211 119 c161 -13 245 -29 344 -68 146 -56 265 -168
317 -299 20 -51 22 -73 23 -227 0 -155 -3 -179 -28 -270 -30 -112 -105 -275
-172 -376 -138 -207 -361 -399 -614 -528 -111 -56 -183 -76 -334 -91 -118 -12
-187 -7 -317 20 -126 27 -210 33 -240 18 -53 -28 -77 -125 -41 -169 18 -22 26
-24 93 -21 40 1 136 13 213 27 198 34 275 39 400 25 242 -27 420 -96 531 -205
102 -100 144 -209 144 -375 0 -218 -61 -432 -177 -620 -244 -395 -667 -689
-1172 -814 -158 -39 -257 -51 -431 -51 -134 1 -185 5 -267 23 -268 59 -472
191 -553 355 -55 112 -52 123 141 504 l162 323 726 2 726 3 0 345 0 345 -542
3 c-299 1 -543 5 -543 8 0 7 65 132 273 524 428 807 735 1333 867 1483 52 59
125 94 220 105 106 13 102 13 251 1z m-741 -2469 l0 -130 -561 0 c-308 0 -559
3 -557 8 2 4 31 63 66 130 l63 122 494 0 495 0 0 -130z"/>
        </g>
    </svg>
</div>
<!-- Profil -->
<section class="page-section" id="profil">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">A propos</h2>
                <div class="divider"></div>
                <p>Boganin Lucas, 20 ans, Etudiant en 2ème année de BTS SIO au lycée Saint-Vincent à Senlis,</p>
                <p>Curieux et toujours en recherches de nouveautés.</p>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger hvr-icon-wobble-vertical" href="./asset/CV.pdf" target="_blank">
                    <i class="fas fa-file-download hvr-icon"></i>
                    mon cv</a>
            </div>
        </div>
    </div>
</section>