<section class="page-section" id="projet">
    <div class="pimg2">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase" style="color: #fff">Réalisations</h2>
            <div class="divider"></div>
        </div>
        <div id="sliderProjet" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for project in projects %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <div class="split">
                            {% for leProject in project %}
                                <div class="screen" style="background: url({{ asset('static/images/pictures_project/' ~ leProject.picture) }})">
                                    <div class="screen-content">
                                        <fieldset>
                                            <h2>{{ leProject.title }}</h2>
                                            <a class="screen-content-link" href="{{ path('single_project',{'id': leProject.id}) }}">
                                                En savoir plus <i class="fas fa-angle-double-right"></i>
                                            </a>
                                        </fieldset>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#sliderProjet" role="button" data-slide="prev">
                    <span class="color-arrow arrow-left">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#sliderProjet" role="button" data-slide="next">
                    <span class="color-arrow arrow-right">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>
