<section class="page-section" id="competences">
    <div class="pimg3">
        <div class="container">
            <div class="col-12 text-center">
                <h2 class="section-heading text-uppercase"  style="color:rgba(255, 255, 255, 0.836)">Compétences</h2>
                <div class="divider"></div>
            </div>
            <div class="row d-flex justify-content-center">
                {% for typeSkill in typeSkills %}
                    {% if typeSkill.skill is not empty %}
                        <div class="swiper-container framework">
                            <h2>{{ typeSkill.name }}</h2>
                            <div class="swiper-wrapper">
                                {% for skill in skills %}
                                    {% if skill.typeSkill.name is same as(typeSkill.name) %}
                                        <div class="swiper-slide" style="background-image:url({{ asset('static/images/pictures_tech/' ~ skill.picture) }})"></div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>