<section class="page-section" id="competences">
    <div class="pimg3">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase"  style="color:rgba(255, 255, 255, 0.836)">Compétences</h2>
                <div class="divider"></div>
            </div>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background-image:url({{ asset('static/images/pictures_tech/php.png') }})"></div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>